.buttonNuevoPedido {
  max-width: 100%;
  min-width: 50px; 
  font-size: 16px;
  float:right;
  background-color: rgb(3, 146, 103) !important;
  border-color: transparent !important;
  height:45px;
  width: 460px !important;
 
 }

 /* BOTON NUEVO PRODUCTO*/
 .nuevoBotonContainer {
  display: flex;
  justify-content: center;
  position: fixed;
  bottom: 1;
  left: 0;
  right: 0;
 }


@media (min-width: 992px) {
.nuevoBotonContainer {
  padding: 70px;
  
}
}

.botonVolver {
  float: left;
  height: 50px;
  color: rgb(3, 146, 103) !important;
 
}

.botonesCard  button {
    background-color: transparent;
    color: #000000;
    border-color: #ffffff;
}

 @media (max-width: 1200px) {
    .d-flex.align-items-center {
      justify-content: center;
      align-items: end;
      height: 100%;
      margin-left: 30px;
    }
  }

  @media (max-width: 779px) {
    .d-flex.align-items-center .iconoTrash {
    margin-left: 10px;
    }
  }

  .boton-guardar-container {
    display: inline-block;
    margin-top:15px;
  }
  
 .botones {
    text-align: center;
  }

 .numeroCantidad{
    font-size: 19px;
  }

  
  
.botonMas{
  width: 30px !important;
  box-shadow: 1px 2px 4px black;
  border-color: black;
  border-radius: 5px;
  margin-right: 23px;
  margin-top: 10px;
}

.botonNuevaCategoria{
padding:70px;
}