/* card completa */
.CardProductosContainer {
    margin-top: 40px;
    padding: 0 70px;
    height:560px;
   
}
@media (min-width: 992px) {
.CardProductosContainer {
    margin-top: 40px;
    padding: 0 600px;
}
}

.card {
    max-width: 900px;
    margin-bottom: 20px;
    box-shadow: 1px 2px 4px black;
    border-color: black;
}

.CardProductosPrecio {
    justify-content: flex-end;
    display: flex;
}

.CardProductosNombreProducto {
    color: black;
}


.botonesCardProductos {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20%;
    margin-right: 15px;
    margin: 20px;
    padding: 10px;
    cursor: pointer;
}

.botonEditarProducto {
    color: black;
    padding-right: 10px;
    display: flex;
}

.botonEliminarProducto {
  color: black;
   display: flex;
}