.Categorias {
  text-align: center;
  margin: 20px;
  background-color: transparent;
  border-radius: 10px;
  padding: 10px;
  

}

.Categorias a {
  display: block;
  text-decoration: none;
  background-color: rgb(9, 124, 90);
  color: white;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.3);
  text-shadow: 2px 7px 5px rgba(0, 0, 0, 0.3);
  font-family: 'Montserrat', sans-serif;
  
}

.Categorias a:hover {
  background-color: #076b4d !important;
  transform: scale(1.00);
  color: white;
}

.Categorias a:hover {
  background-color: rgb(3, 86, 62);
}

.ScrollContainer {
  max-height: 640px; /* Valor predeterminado para pantallas más grandes */
  overflow-y: auto;
  margin-top: -43px; 
  padding-top: 5px; 

  @media (max-width: 576px) { /* Ajusta el valor según el punto de quiebre para dispositivos móviles */
    max-height: 570px; /* Valor para dispositivos móviles */
  }
}

