.HeaderComponentes{
height:7vh;
}

.BotonVolver {
  color: rgb(9, 124, 90);
  margin-left: 15px;
  margin-top:10px;
  height:47px;
}

.BotonVolver:hover{
  color: #076b4d !important;
  transform: scale(1.05);
}

.BotonMas {
  float: right;
  background-color: rgb(9, 124, 90) !important;
  box-shadow: 2px 2px black;
  border: 2px solid rgb(9, 124, 90) !important;
  border-radius: 5px;
  color: white;
  transition: background-color 0.3s ease-in-out !important;
  box-shadow: 2px 2px 4px black;
  margin-right: 15px;
  margin-top:15px;
}

.BotonMas:hover {
  background-color: #076b4d !important;
  transform: scale(1.02);
}

.TituloComponentes{
  text-align: left;
  height:8vh;
  font-family: 'Montserrat', sans-serif;
  font-style: bold;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  margin-left:10px;
  margin-top:20px;
}


