nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

nav a {
  color: #000000;
  text-decoration: none;
  font-weight: bold;
}

nav a.logo {
  font-size: 24px;
}

nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  margin: 15px;
}

nav ul li a {
  padding: 8px;
  border-radius: 5px;
  transition: background-color 0.2s ease;
}

nav ul li a:hover {
  background-color: #c2c7ce;
}

nav ul li a.active {
  background-color: #afb4b9;
}

@media screen and (max-width: 1200px) {
  nav {
    flex-direction: column;
    height: 50px;
    width: 80%;
    padding: 5px;
    bottom: 40px;
  }

  nav a.logo {
    font-size: 20px;
    margin-bottom: 10px;
  }

  nav ul {
    justify-content: space-between;
    width: 100%;
    margin: 0;
  }

  nav ul li {
    margin: 0;
    width: 33.33%;
    text-align: center;
  }

  nav ul li a {
    padding: 5px;
    font-size: 13px;
  }
}

nav ul li a i {
  font-size: 20px;
  display: inline-block;
  height: 20px;
  width: 20px;
  text-align: center;
  margin-right: 0px;
}

