
.input {
    margin-top: 1rem;
  margin-left: 20%;
  margin-right: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
   
  }
  .input input {
    width: 100%;
    padding: 1rem;
  border-radius: 10px;
  border: 1px solid #ccc;
  font-size: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: border-color 0.3s ease;
  }

  .input input:focus {
    outline: none;
    box-shadow: 0 0 0 2px #2b9af9;
  }

  
  
  
      .sugerencias-lista {
    position: absolute;
  top: 50px; /* altura del input */
  left: 1%; /* margen izquierdo del input */
  z-index: 1;
  width: 70%; /* ancho del input */
  max-height: 200px;
  overflow-y: auto;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 0;
  margin: 0;
  list-style: none;
  cursor:pointer;
  }
  
  .sugerencias-lista li {
    padding: 8px;
    cursor: pointer;
  }
  
  .sugerencias-lista li:hover {
    background-color: #328fbb;
  }
  
  .sugerencias-lista li:not(:last-child) {
    border-bottom: 1px solid #585858;
  }

  