.headerProductos{
  display:flex;
  justify-content: space-between;
}

.tituloProductos{
  
    font-size:30px;
    margin-top:70px;
    margin-left: 10px;


}

.body{
  position: absolute !important;
}